* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region COMMON and Utilities */

html {
    font-family: 'PT Sans', sans-serif;
}

:root {
    --primary: rgba(151, 146, 228, 1);
    --secondary: rgba(0, 132, 253, 1);
    --lightblue: rgba(181, 221, 255, 1);
    --dark: rgba(51, 51, 51, 1);
    --lightyellow: rgba(253, 193, 95, 1);
    --lighter: rgba(255, 255, 255, 1);
}

#app_main #planning,
#app_main #features,
#app_main #get_started {
    background-color: var(--primary);
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1140px;
}

.container_small {
    max-width: 480px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class^=col_] {
    padding: 1rem;
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_6 {
    width: 50%;
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_12 {
    width: 100%;
}

.d_flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    color: var(--dark);
}

img {
    max-width: 100%;
}

.btn {
    border-radius: 2rem;
    padding: 0.75rem;
    display: inline-block;
}

.btn:active {
    scale: 0.8
}

.btn_white {
    background-color: var(--lighter);
    color: black;
}

.btn_white:active,
.btn_blue:active,
.btn_purple:active {
    background-color: lightgrey;
}

.btn_blue {
    background-color: var(--secondary);
    color: white;
    font-weight: bold;
}

.btn_purple {
    background-color: var(--primary);
    color: white;
    font-weight: bold;
}

.text_left {
    text-align: left !important;
}

/* #endregion COMMON and Utilities */

/* #region HEADER */
#app_header {
    background-color: var(--secondary);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px var(--lightblue);
}

#app_header .container {
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

#app_header .container ul {
    display: none;
    align-items: center;
}

#app_header .container li:hover:not(li:last-child) {
    scale: 1.2;
    text-shadow: 1px 1px 1px var(--lighter);
}

#app_header .container a {
    margin-left: 1.5rem;
    color: var(--lighter);
}

#app_header .container .btn_white {
    color: var(--dark);
}

#app_header .container i {
    color: var(--lighter);
}

/* #endregion HEADER */

/* #region MAIN */

/* #region #demo */
#app_main #demo {
    padding-bottom: 4rem;
}

#app_main #demo .row {
    margin: 1.5rem -1rem;
}

#app_main #demo .card {
    background-color: var(--lightblue);
    border-radius: 2rem;
    padding: 1rem;
    height: 100%;
}

#app_main #demo h2 {
    color: var(--secondary);
    padding: 0.5rem 2rem;
    text-align: center;
}

#app_main #demo p {
    color: var(--dark);
    font-weight: 600;
    line-height: 1.75rem;
    padding: 0.5rem 2rem;
    text-align: center;
}

#app_main #demo .btn_blue {
    display: block;
    width: 60%;
    text-align: center;
    margin: 2rem 2rem 0 2rem;
}

#app_main #demo img {
    position: relative;
    left: 0;
    top: 60px;
}

#app_main #demo .fa-solid {
    text-align: center;
    color: var(--secondary);
    display: block;
}

/* #endregion #demo */

/* #region #planning */

#app_main #planning {
    padding-top: 4rem;
}

#app_main #planning .image {
    text-align: center;
}

#app_main #planning h2,
#app_main #planning p {
    color: var(--lighter);
}

#app_main #planning h2 {
    padding: 3rem 0;
    font-size: 2.25rem;
}

#app_main #planning p {
    line-height: 1.75rem;
    padding-bottom: 2rem;
}

#app_main #planning .row div:last-child .card {
    background-color: var(--lighter);
    border-radius: 3rem;
    padding: 2rem 1rem;
}

#app_main #planning .row div:last-child h2,
#app_main #planning .row div:last-child p {
    color: var(--dark);
    text-align: center;
}

#app_main #planning .row div:last-child p {
    font-style: italic;
}

#app_main #planning .row div:last-child a {
    color: var(--dark);
    display: block;
    background-color: var(--primary);
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 50%;
    margin: 1rem auto;
}

/* #endregion #planning */

/* #region #testimonials */
#app_main #testimonials {
    padding: 4rem 0;
}

#app_main #testimonials h5 {
    font-weight: 300;
}

#app_main #testimonials h5,
#app_main #testimonials h3,
#app_main #testimonials p {
    text-align: center;
    margin: 1rem 0;
}

#app_main #testimonials p {
    line-height: 1.5rem;
}

#app_main #testimonials h3 {
    color: var(--primary);
    font-size: 2rem;
}

#app_main #testimonials .card {
    border-radius: 2rem;
    background-color: var(--primary);
    padding: 1rem;
}

#app_main #testimonials .image {
    text-align: center;
}

#app_main #testimonials .image img {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 60%;
}

#app_main #testimonials .bio p {
    color: var(--lighter);
    line-height: 1.5rem;
}

#app_main #testimonials .bio h4 {
    color: var(--lighter);
    text-align: center;
    margin-top: 2rem;
}

/* #endregion testimonials */

/* #region #features */
#app_main #features {
    padding: 2rem 0;
}

#app_main #features .container>h2 {
    color: var(--lighter);
    padding: 4rem 0;
    text-align: center;
    font-size: 2.5rem;
}

#app_main #features .card {
    background-color: var(--lighter);
    height: 100%;
    border-radius: 1.5rem;
    padding: 2rem;
}

#app_main #features .card h2,
#app_main #features .card h3 {
    color: var(--primary);
}

#app_main #features .card h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

#app_main #features .card p {
    color: var(--dark);
    line-height: 1.75rem;
    padding: 2rem 0 2rem 0;
}

#app_main #features .card .btn_purple {
    padding: 1rem 4rem;
}

/* #endregion #features */

/* #region #about */
#app_main #about {
    padding: 4rem 0;
}

#app_main #about [class^=col_] {
    padding: 0 3rem;
}

#app_main #about h2 {
    color: var(--primary);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

#app_main #about p {
    line-height: 1.75rem;
    padding-bottom: 2rem;
}

#app_main #about .image {
    position: relative;
}

#app_main #about .image img {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 60%;
}

#app_main #about .image i {
    position: absolute;
    top: 0;
    left: 140px;
    color: var(--primary);
}

#app_main #about p.quote {
    color: var(--primary);
    font-weight: bold;
    font-size: 1.5rem;
}

/* #endregion #about */

/* #region #get_started */
#app_main #get_started {
    padding: 3rem 0;
    text-align: center;
    color: var(--lighter);
}

#app_main #get_started h6 {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: lightgrey;
}

#app_main #get_started h3 {
    padding-bottom: 1rem;
    font-size: 2rem;
}

#app_main #get_started h2 {
    color: var(--lightyellow);
    padding-bottom: 1rem;
    font-size: 3.5rem;
}

#app_main #get_started p {
    color: var(--lighter);
    line-height: 1.75rem;
    padding-bottom: 1rem;
}

#app_main #get_started .btn_white {
    color: var(--primary);
    font-weight: bold;
}

#app_main #get_started p#copyright {
    padding-top: 1rem;
    padding-bottom: 0;
}

#app_main #get_started p#copyright i.fa-circle {
    scale: 0.3;
}

#app_main #get_started p#copyright a {
    color: var(--lighter);
    text-decoration: underline;
}


/* #endregion #get_started */
/* #endregion MAIN */

/* #region FOOTER */
#app_footer {
    background-color: var(--dark);
    padding: 2rem;
    text-align: center;
}

#app_footer p {
    color: var(--lighter);
}

#app_footer p:first-child {
    padding-bottom: 4rem;
}

#app_footer a {
    color: var(--primary);
    text-decoration: underline;
}

/* #endregion FOOTER */

/* #region DEBUG */
.debug * {
    border: 1px dashed;
}

.debug [class^=col_] {
    height: 300px;
    margin: 0.5rem 0;
}

/* #endregion DEBUG */

@media screen and (min-width: 768px) {

    .md_col_2 {
        width: calc(100% / 12 * 2);
    }

    .md_col_4 {
        width: calc(100% / 12 * 4);
    }

    .md_col_6 {
        width: calc(100% / 12 * 6);
    }

    .md_col_8 {
        width: calc(100% / 12 * 8);
    }

    .md_col_10 {
        width: calc(100% / 12 * 10);
    }

    .md_col_12 {
        width: 100%;
    }

    #app_main #testimonials .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #app_main #testimonials .image img {
        width: 100%;
    }

    #app_main #testimonials .bio p,
    #app_main #testimonials .bio h4 {
        text-align: left;
        padding: 0 2rem;
    }
}

@media screen and (min-width: 1200px) {

    .lg_col_4 {
        width: calc(100% / 12 * 4);
    }

    .lg_col_5 {
        width: calc(100% / 12 * 5);
    }

    .lg_col_6 {
        width: calc(100% / 12 * 6);
    }

    .lg_col_8 {
        width: calc(100% / 12 * 8);
    }

    .lg_col_12 {
        width: 100%;
    }

    /* header */
    #app_header .container ul {
        display: flex;
    }

    #app_header .container i {
        display: none;
    }

    /* /header */

    /* main */
    #app_main #planning .row {
        justify-content: center;
        gap: 5rem;
        padding: 3rem;
    }

    #app_main #planning .row .strategic_pl h2 {
        padding-top: 10rem;
    }

    #app_main #planning .row .app_develop .card {
        position: relative;
        top: 110px;
        left: 0;
    }

    #app_main #planning .row .app_develop img {
        width: 60%;
    }

    #app_main #testimonials .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #app_main #testimonials .bio p,
    #app_main #testimonials .bio h4 {
        text-align: left;
    }

    /* /main */

}