* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region COMMON and Utilities */

html {
    font-family: 'PT Sans', sans-serif;
}

/* Color palette */
:root {
    --primary: rgba(151, 146, 228, 1);
    --secondary: rgba(0, 132, 253, 1);
    --lightblue: rgba(181, 221, 255, 1);
    --dark: rgba(51, 51, 51, 1);
    --lightyellow: rgba(253, 193, 95, 1);
    --lighter: rgba(255, 255, 255, 1);
}

.container {
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class^=col_] {
    padding: 1rem;
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_6 {
    width: 50%;
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_12 {
    width: 100%;
}

.d_flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn {
    border-radius: 2rem;
    padding: 0.5rem;
}

.btn_white {
    background-color: white;
}

/* #endregion COMMON and Utilities */

/* #region HEADER */
#app_header {
    background-color: var(--secondary);
}

#app_header .container {
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

#app_header .container ul {
    display: none;
}

#app_header .container a {
    margin-left: 1rem;
    color: white;
    font-size: 1.5rem;
}

#app_header .container .btn_white {
    color: black;
}

#app_header .container i {
    color: white;
}

/* #endregion HEADER */

/* #region MAIN */
#app_main #demo [class^=col] {
    background-color: var(--lightblue);
}

#app_main #planning,
#app_main #partners [class^=col],
#app_main #benefits,
#app_main #trasparent_pricing {
    background-color: var(--primary);
}

#app_main #benefits [class^=col] {
    background-color: var(--lighter);
}

/* #endregion MAIN */

/* #region FOOTER */
#app_footer {
    background-color: var(--dark);
}


/* #endregion FOOTER */

/* #region DEBUG */
.debug * {
    border: 1px dashed;
}

.debug [class^=col_] {
    height: 300px;
    margin: 0.5rem 0;
}

/* #endregion DEBUG */



@media screen and (min-width: 768px) {

    .md_col_4 {
        width: calc(100% / 12 * 4);
    }

    .md_col_6 {
        width: calc(100% / 12 * 6);
    }

    .md_col_8 {
        width: calc(100% / 12 * 8);
    }

    .md_col_12 {
        width: 100%;
    }

}

@media screen and (min-width: 1200px) {

    .lg_col_4 {
        width: calc(100% / 12 * 4);
    }

    .lg_col_6 {
        width: calc(100% / 12 * 6);
    }

    .lg_col_8 {
        width: calc(100% / 12 * 8);
    }

    .lg_col_12 {
        width: 100%;
    }

    #app_header .container ul {
        display: flex;
    }

    #app_header .container i {
        display: none;
    }
}